.footer {
	color: darken($background-color,20%);
	background-color: $color-dark;
	padding: $spacing*2 0em;

	p {
		font-size: 1.4em;
		font-weight: 300;
	}

	a {
		opacity: .8;
	}

	.logo {
		img {
			height: 48px;
			vertical-align: top;
			margin-bottom: $spacing/2;
		}
		p {
			display: inline-block;
			font-weight: 300;
			font-size: 28px;
			line-height: 48px;
			margin-left: .5em;
		}
	}
}

@media screen and (max-width: 619px) {
	.footer {
		.logo {
			margin-top: $spacing;
		}
	}
}