

.overview-header {
	padding: $spacing/2 0px;

	h2 {
		margin: 0px;
		font-size: 24px;
	}
}

.overview-body {
	table {
		width: 100%;

		th {
			background-color: $color-light;
			text-align: left;
			color: $active-color;
			p {
				border-bottom: 1px solid transparent;
				cursor: pointer;
				display: inline-block;
				transition: all .4s ease;
				&:hover {
					color: lighten($active-color, 10%); 
	    			border-bottom: 1px dotted lighten($active-color, 10%); 
				}
			}
			
			
		}
		td, th {
			padding: $spacing/2 $spacing;
			border-bottom: 1px solid darken($color-light, 15%);
			&.align-right {
				text-align: right;
			}
		}
		tr {
			background-color: darken($color-light, 4%);
			&:nth-child(odd) {
				background-color: darken($color-light, 8%);
			}
		}
	}
}