.participant {
	padding: $spacing/4 $spacing/2;
	background-color: darken($background-color,2%);
	display: inline-block;
	margin-bottom: $spacing/2;

	+ .participant {
		margin-left: $spacing/2;
	}

	.icon {
		font-size: 28px;
		vertical-align: middle;
		margin-right: 10px;
	}
}