.track-presentation {
	background-color: $track-color;
	background-image: url('../images/track-bg.png');
	padding: 2em 0px;

	.track-info-short {
		display: none;
	}
}

.track-info {
	background-color: rgba(0,0,0,.25);
	padding: 2em;

	h1, h2, p {
		color: $background-color;
	}
}

.track-info-short {
	background-color: rgba(0,0,0,.25);
	padding: 1em 2em;
	position: absolute;

	h1 {
		color: $background-color;
		margin: 0px;
	}
}

.track-info-mobile {
	display: none;
}

.column {
	width: 50%;
}

.column-left {
	padding-right: 1em;
	float: left;
}

.column-right {
	padding-left: 1em;
	float: right;
}

.map-container {
	max-width: 500px;
	margin: 0px auto;
	position: relative;
	text-align: center;

	img {
		width: 100%;
	}

	.direction-left, .direction-right {
		position: absolute;
		top: 50%;
		transform: translate(0px, -50%);
		width: 48px;
		height: 48px;
		opacity: .4;
	}

	.direction-left {
		left: 0px;
		background-image: url('../images/arrow-left-cw.png');
	}

	.direction-right {
		right: 0px;
		background-image: url('../images/arrow-right-cw.png');
	}

	&.ccw {
		.direction-left {
			background-image: url('../images/arrow-left-ccw.png');
		}

		.direction-right {
			background-image: url('../images/arrow-right-ccw.png');
		}
	}
}

@media screen and (max-width: 619px) {
    .track-presentation {

    	.column-left {
    		display: none;
    	}

    	.column {
    		width: 100%;
    	}

    	.track-info-short {
    		display: block;
    	}
    }

    .track-info-mobile {
		display: block;
	}
}