.track-presentation {
	background-color: $track-color;
	background-image: url('../images/track-bg.png');
	padding: 2em 0px;

	.track-info-short {
		display: none;
	}
}

.track-info {
	background-color: rgba(0,0,0,.25);
	padding: 2em;

	h1, h2, p {
		color: $background-color;
	}
}

.track-info-short {
	background-color: rgba(0,0,0,.25);
	padding: 1em 2em;
	position: absolute;

	h1 {
		color: $background-color;
		margin: 0px;
	}
}

.track-info-mobile {
	display: none;
	padding: $spacing $spacing/2;

	h2 {
		margin: 0px $spacing/2 0px 0px;
	}
}

.column {
	width: 50%;
	padding: 0px $spacing/2;
	float: left;

	.column {
		padding: 0px;
	}
}

.column-right {
	float: right;
}

.map-container {
	max-width: 500px;
	margin: 0px auto;
	position: relative;
	text-align: center;

	img {
		width: 100%;
	}

	.direction-left, .direction-right {
		position: absolute;
		top: 0px;
		right: 0px;
		width: 48px;
		height: 48px;
		opacity: .6;
	}

	.direction-left {
		background-image: url('../images/arrow-right-cw.png');
	}

	.direction-right {
		background-image: url('../images/arrow-left-ccw.png');
		display: none;
	}

	&.ccw {
		.direction-left {
			display: none;
		}

		.direction-right {
			display: block;
		}
	}
}

@media screen and (max-width: 619px) {
    .track-presentation {

    	.column-left {
    		display: none;
    	}

    	.column {
    		width: 100%;
    	}

    	.track-info-short {
    		display: block;
    	}
    }

    .column {
    	width: 100%;
    }

    .track-info-mobile {
		display: block;
	}
}