
h1 {
  font-size: 3em;
  margin: 0em 0em .5em 0em;
}

h2 {
  font-size: 1.8em;
  font-weight: 300;
  margin: 1em 0em;
  line-height: 1.5em;
}

h3 {
  font-size: 2em;
  margin: 1em 0em;
  font-weight: 300;
}

p, a {
  font-size: 1.6em;
  line-height: 1.6em;
  margin: 0em; }

p a, p span {
  font-size: 1em; }

a {
  transition: all .4s ease;
  text-decoration: none;
  border-bottom: 1px dotted transparent;
  color: $active-color;

  &:visited {
    color: adjust-hue($active-color, 5deg); 
  }

  &:hover {
    color: lighten($active-color, 10%); 
    border-bottom: 1px dotted lighten($active-color, 10%); 
  }
}

span {
  font-size: 1.6em;
}

.text-inactive {
  color: darken($background-color,40%);
  padding: 15px 20px;
  margin: 0px 10px 10px 10px;
}

/* common */
.bold {
  font-weight: bold; }

  ::-webkit-input-placeholder {
  color: #bbb; }

:-moz-placeholder {
  color: #bbb; }

placeholder {
  color: #bbb; }