<div class="header">
    <div class="wrap">
        <div class="logo">
            <img alt="mtbuddies" src="~/Content/images/logo.svg" />
            <p>MTBuddies</p>
        </div>
    </div>
</div>
<div class="content">
    <div class="wrap">
        <div class="overview-section">
            <div class="overview-header">
                <h2>Nordjylland</h2>
            </div>
            <div class="overview-body">
                <table>
                    <tr>
                        <th><p>Spor</p></th>
                        <th class="align-right"><p>Planlagte ture</p></th>
                        <th class="align-right"><p>Sværhed</p></th>
                        <th class="align-right"><p>Længde</p></th>
                    </tr>
                    <tr>
                        <td><a href>Kongshøj</a></td>
                        <td class="align-right"><p>3</p></td>
                        <td class="align-right"><p>4</p></td>
                        <td class="align-right"><p>7,5 km</p></td>
                    </tr>
                    <tr>
                        <td><a href>Kongshøj</a></td>
                        <td class="align-right"><p>3</p></td>
                        <td class="align-right"><p>4</p></td>
                        <td class="align-right"><p>7,5 km</p></td>
                    </tr>
                    <tr>
                        <td><a href>Kongshøj</a></td>
                        <td class="align-right"><p>3</p></td>
                        <td class="align-right"><p>4</p></td>
                        <td class="align-right"><p>7,5 km</p></td>
                    </tr>
                    <tr>
                        <td><a href>Kongshøj</a></td>
                        <td class="align-right"><p>3</p></td>
                        <td class="align-right"><p>4</p></td>
                        <td class="align-right"><p>7,5 km</p></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
        