.input-group {
	padding: 1em;
	padding-left: 0em;
	display: inline-block;
}

.input-field {
	border: 1px solid lighten($primary-color,40%);
	padding: .5em;
	transition: border .4s ease;
	max-width: 32em;

	&:hover {
		border: 1px solid lighten($primary-color,30%);
	}

	&:focus {
		border: 1px solid $active-color;
	}
}

.input-field, .button {
	font-size: 1.6em;
	@include border-radius($base-rounding);
}

.button {
	border: none;
	padding: .5em 1em;
	font-weight: 500;
	transition: background .4s ease;
}

.standard-button {
	background-color: $active-color;
	color: $background-color;
	border: 1px solid $active-color;

	&:hover {
		background-color: saturate(lighten($active-color,10%),10%);
	}
}

textarea {
	width: 100%;
}