ul.tabs {
	margin: 0em;
	margin-top: $base-margin;
}

li.tab {
	display: inline-block;
	padding: $base-margin/2 $base-margin;
	@include border-radius($base-rounding);
}

li.tab.active {
	background-color: darken($background-color,5%);

	a {
		color: $primary-color;
		font-weight: bold;
		text-decoration: none;
	}
}
