.track-presentation {
	background-color: $track-color;
	background-image: url('../images/track-bg.png');
	padding: 2em 0px;
}

.track-info {
	background-color: rgba(0,0,0,.25);
	padding: 2em;

	h1, h2, p {
		color: $background-color;
	}
}

.column {
	width: 50%;
}

.column-left {
	padding-right: 1em;
	float: left;
}

.column-right {
	padding-left: 1em;
	float: right;
}

.map-container {
	max-width: 500px;
	margin: 0px auto;

	img {
		width: 100%;
	}
}
