<div ng-hide="location.hasReviews()">
        <blockquote class="text-inactive">
            Der er endnu ingen anmeldelser. Har du erfaringer fra ruten, du har lyst til at dele?
        </blockquote>
    </div>
<div class="page-section" ng-repeat="review in location.track.reviews">
    <p>Sværhed: {{review.rateDifficulty}}</p>
    <p>Hvor flot var turen: {{review.rateVisually}}</p>
    <p>Sporets tilstand: {{review.rateTrack}}</p>
    <blockquote ng-show="{{review.body.length}}">"{{review.body}}"</blockquote>
    <p>- {{review.author}}, {{review.createdOn|date}}
</div>
<br />
<h3>Del dine erfaringer fra {{location.track.Name}}</h3>
<form name="reviewForm" ng-controller="ReviewController as reviewCtrl" ng-submit="reviewForm.$valid && reviewCtrl.addReview(location.track)">
    <div>
        <div>
            <div class="input-group">
                <p>Sværhed:</p>
                <select ng-model="reviewCtrl.review.rateDifficulty" class="input-field" required convert-to-number >
                    <option value="">Vælg sværhed</option>
                    <option value="1">1 - blå</option>
                    <option value="2">2</option>
                    <option value="3">3 - rød</option>
                    <option value="4">4</option>
                    <option value="5">5 - sort</option>
                </select>
            </div>
            <div class="input-group">
                <p>Er det en flot tur:</p>
                <select ng-model="reviewCtrl.review.rateVisually" class="input-field" required convert-to-number >
                    <option value="">Antal stjerner</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                </select>
            </div>
            <div class="input-group">
                <p>Sporets stand:</p>
                <select ng-model="reviewCtrl.review.rateTrack" class="input-field" required convert-to-number >
                    <option value="">Antal stjerner</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                </select>
            </div>
        </div>
        <div>
            <p>Kommentar: </p>
            <textarea rows="2" class="input-field" ng-model="reviewCtrl.review.body" placeholder="Uddybende kommentarer"></textarea>
        </div>
        <div class="input-group">
            <p>Dit navn:</p>
            <input type="text" required ng-model="reviewCtrl.review.author" class="input-field">
        </div>
        <br />
        <div class="input-group">
            <input type="submit" value="Del erfaringer" class="button standard-button" />
        </div>
    </div>
</form>