<div class="group masonry">
    <div ng-hide="Track.hasRides()">
        <blockquote class="text-inactive">
            Der er ingen planlagte ture. Planlæg en herunder
        </blockquote>
    </div>
    <div class="page-card" ng-repeat="ride in Track.Rides">
        <div class="card-header group">
            <div class="column">
                <p>{{ride.Date | date:'fullDate'}}</p>
            </div>
            <div class="column time">
                <p>{{ride.Time | date:'H:mm'}}</p>
            </div>
        </div>
        <div class="card-inner">
            <div class="card-section">
                <p>Kommentarer</p>
                <blockquote ng-show="{{ride.Comment.length}}">{{ride.Comment}}</blockquote>
            </div>
            <div class="card-section last">
                <p><span class="icon icon-bike"></span> Deltagere</p>
                <div class="participant">
                    <p>{{ride.Author}}</p>
                </div>
                <div class="participant" ng-repeat="name in ride.Participants track by $index">
                    <p>{{name}}</p>
                </div>
                <br />
                <form name="participantForm" ng-controller="SignupController as signupCtrl" ng-submit="participantForm.$valid && signupCtrl.addParticipant(this.$parent.ride)">
                    <div class="input-group">
                        <p>Dit navn:</p>
                        <input type="text" class="input-field" required ng-model="signupCtrl.participant.name" />
                    </div>
                    <div class="input-group">
                        <input type="submit" class="button standard-button" value="Tag med" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="page-card-wide">
    <h3>Planlæg en tur i {{Track.Name}}</h3>
    <form name="rideForm" ng-controller="RideController as rideCtrl" ng-submit="rideForm.$valid && rideCtrl.addRide(Track)">
        <div>
            <div>
                <div class="input-group">
                    <p>Dato: </p>
                    <input type="date" min="{{rideCtrl.Date | date:'yyyy-MM-dd'}}" class="input-field" required ng-model="rideCtrl.ride.Date" />
                </div>
                <div class="input-group">
                    <p>Tid: </p>
                    <input type="time" class="input-field" required ng-model="rideCtrl.ride.Time" />
                </div>
            </div>
            <div>
                <p>Kommentar: </p>
                <textarea rows="2" class="input-field" ng-model="rideCtrl.ride.Comment" placeholder="Kontakt info, begynder/øvet, vi mødes ved... etc."></textarea>
            </div>
            <div class="input-group">
                <p><span class="icon icon-bike"></span> Dit navn:</p>
                <input type="text" required ng-model="rideCtrl.ride.Author" class="input-field">
            </div>
            <div class="input-group">
                <input type="submit" value="Del din tur" class="button standard-button" />
            </div>
        </div>
    </form>
</div>
