$font-stack: 'Roboto', sans-serif;
$primary-color: #555;
$background-color: #fff;
$active-color: #14b8b6;
$color-dark: #04312f;
$base-margin: 2em;
$spacing: 2em;
$track-color: #34553b;

$base-rounding: 0px;

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}