$font-stack: 'Roboto', sans-serif;
$primary-color: #444;
$background-color: #fff;
$active-color: #1490A2;
$accent-color: #14b8b6;
$color-dark: #012e2c;
$color-light: #fff;

$base-margin: 20px;
$spacing: 20px;

$track-color: #1e6951;

$base-rounding: 0px;

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}