/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
  font-size: 10px;
  color: $primary-color;
  background-color: $background-color;
  font-family: $font-stack; }


img {
  max-width: 100%;
}

blockquote {
  background:  darken($background-color,2%);
  border-left: $base-margin/2 solid darken($background-color,15%);
  margin: $base-margin/4 $base-margin/2;
  padding: $base-margin/2;
  font-size: 1.6em;
}

.page-section {
  padding: $base-margin $base-margin/2;
  border-bottom: 1px dashed lighten($primary-color,20%);
}

.pull-right {
  float: right;
}

/* Layout */
.wrap {
  margin: 0em auto;
  padding: 0em 2%;
  min-width: 32em;
  max-width: 120em; }

.content {
  padding: 2em 0em;
  background-color: darken($background-color,8%);
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

.group:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }
