/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html, body {
  height: 100%;
}

body {
  font-size: 10px;
  color: $primary-color;
  background-color: $background-color;
  font-family: $font-stack; 
}

#main {
  background-color: darken($background-color,12%);
}

img {
  max-width: 100%;
}

.page-container {
  min-height: 100%;
}

blockquote {
  background:  darken($background-color,3%);
  border-left: $spacing/4 solid darken($background-color,15%);
  margin: 0px;
  padding: $base-margin/2;
  font-size: 1.6em;

  &:nth-child(odd) {
    background: $background-color;
  }
}

.page-section {
  padding: $base-margin $base-margin/2;
  border-bottom: 1px dashed lighten($primary-color,20%);
}

.page-card-wide {
  background-color: $background-color;
  padding: $spacing;
  margin: $spacing/2;

  h3 {
    margin: 0px;
  }

  p {
    .icon {
      font-size: 28px;
      vertical-align: middle;
      margin-right: 5px;
    }
  }
}

.page-card {
  float: left;
  width: 50%;
  padding: $spacing/2;

  .column {
    padding: 0px;
  }

  .card-header {
    background-color: $color-light;
    padding: $spacing;
    .time {
      text-align: right;
      p {
        font-size: 24px;
      }
    }
  }

  .card-inner {
    background-color: $background-color;
    padding: $spacing/2 $spacing;

    .card-section {
      padding: $spacing/2 0px;
    }

    p {
      .icon {
        font-size: 28px;
        vertical-align: middle;
        margin-right: 5px;
      }
    }
  }
}

.textpage, .overview-section {
  padding: 0px 10px;
}

.show-mobile {
  display: none;
}

.align-right {
  text-align: right;
}

.pull-right {
  float: right;
}

.hide {
  display: none;
}

/* Layout */
.wrap {
  margin: 0em auto;
  padding: 0em 2%;
  min-width: 32em;
  max-width: 120em; }

.content {
  padding: $spacing 0px;
}

@media screen and (max-width: 619px) {
  .page-card {
    width: 100%;
  }

  .show-mobile {
    display: inline-block;
  }

  .hide-mobile {
    display: none;
  }
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

.group:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }
