@charset "UTF-8";
/*
Title:      Screen styles
Author:     Mikkel Oerum Skovgaard-Petersen
*/
/* 
Title:      Reset default browser styles
Author:     Mikkel "deTriMent" Ørum Skovgaard-Petersen, based on Eric Meyer's reset CSS http://meyerweb.com/eric/tools/css/reset/
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* remember to define focus styles! */
:focus {
  outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Box model
   ========================================================================== */
* {
  box-sizing: border-box;
}

/* ==========================================================================
   Imports
   ========================================================================== */
/*! normalize.css v1.0.1 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/*
 * Corrects `block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

/*
 * Corrects `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/*
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/*
 * Addresses styling for `hidden` attribute not present in IE 7/8/9, Firefox 3,
 * and Safari 4.
 * Known issue: no IE 6 support.
 */
[hidden] {
  display: none;
}

/* ==========================================================================
   Base
   ========================================================================== */
/*
 * 1. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevents iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}

/*
 * Addresses `font-family` inconsistency between `textarea` and other form
 * elements.
 */
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

/*
 * Addresses margins handled incorrectly in IE 6/7.
 */
body {
  margin: 0em;
}

/* ==========================================================================
   Links
   ========================================================================== */
/*
 * Addresses `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted;
}

/*
 * Improves readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

/* ==========================================================================
   Typography
   ========================================================================== */
/*
 * Addresses font sizes and margins set differently in IE 6/7.
 * Addresses font sizes within `section` and `article` in Firefox 4+, Safari 5,
 * and Chrome.
 */
h1 {
  font-size: 2.2em;
  margin: .1em 0;
  font-weight: normal;
}

h2 {
  font-size: 1.8em;
  margin: .2em 0;
}

h3 {
  font-size: 1.3em;
  margin: .1em 0;
}

/*
 * Addresses styling not present in IE 7/8/9, Safari 5, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/*
 * Addresses style set to `bolder` in Firefox 3+, Safari 4/5, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

blockquote {
  margin: 1em 40px;
}

/*
 * Addresses styling not present in Safari 5 and Chrome.
 */
dfn {
  font-style: italic;
}

/*
 * Addresses styling not present in IE 6/7/8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/*
 * Addresses margins set differently in IE 6/7.
 */
p,
pre {
  margin: 1em 0;
}

/*
 * Corrects font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

/*
 * Improves readability of pre-formatted text in all browsers.
 */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/*
 * Addresses CSS quotes not supported in IE 6/7.
 */
q {
  quotes: none;
}

/*
 * Addresses `quotes` property not supported in Safari 4.
 */
q:before,
q:after {
  content: '';
  content: none;
}

/*
 * Addresses inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/*
 * Prevents `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* ==========================================================================
   Lists
   ========================================================================== */
/*
 * Addresses margins set differently in IE 6/7.
 */
dl,
menu,
ol,
ul {
  margin: 1em 0;
}

dd {
  margin: 0 0 0 40px;
}

/*
 * Corrects list images handled incorrectly in IE 7.
 */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}

/* ==========================================================================
   Embedded content
   ========================================================================== */
/*
 * 1. Removes border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improves image quality when scaled in IE 7.
 */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}

/*
 * Corrects overflow displayed oddly in IE 9.
 */
svg:not(:root) {
  overflow: hidden;
}

/* ==========================================================================
   Figures
   ========================================================================== */
/*
 * Addresses margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */
figure {
  margin: 0;
}

/* ==========================================================================
   Forms
   ========================================================================== */
/*
 * Corrects margin displayed oddly in IE 6/7.
 */
form {
  margin: 0;
}

/*
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/*
 * 1. Corrects color not being inherited in IE 6/7/8/9.
 * 2. Corrects text not wrapping in Firefox 3.
 * 3. Corrects alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
}

/*
 * 1. Corrects font size not being inherited in all browsers.
 * 2. Addresses margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improves appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */
}

/*
 * Addresses Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal;
}

/*
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Corrects inability to style clickable `input` types in iOS.
 * 3. Improves usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */
}

/*
 * Re-set default cursor for disabled elements.
 */
button[disabled],
input[disabled] {
  cursor: default;
}

/*
 * 1. Addresses box sizing set to content-box in IE 8/9.
 * 2. Removes excess padding in IE 8/9.
 * 3. Removes excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}

/*
 * 1. Addresses `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Addresses `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  /* 2 */
  box-sizing: content-box;
}

/*
 * Removes inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
 * Removes inner padding and border in Firefox 3+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/*
 * 1. Removes default vertical scrollbar in IE 6/7/8/9.
 * 2. Improves readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/* ==========================================================================
   Tables
   ========================================================================== */
/*
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ==|== Variables =============================================================
   Author: Mikkel Orum Skovgaard-Petersen
   ========================================================================== */
/* ==|== Mixins ================================================================
   Author: Mikkel Orum Skovgaard-Petersen
   ========================================================================== */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html,
button,
input,
select,
textarea {
  color: #555;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: transparent;
  text-shadow: none;
}

::selection {
  background: transparent;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px dotted #ddd;
  margin: 0em;
  padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */
img {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
  font-size: 10px;
  color: #555;
  background-color: #fff;
  font-family: "Roboto", sans-serif;
}

img {
  max-width: 100%;
}

blockquote {
  background: #f7f7f7;
  border-left: 0.5em solid #d9d9d9;
  margin: 0px;
  padding: 1em;
  font-size: 1.6em;
}

blockquote:nth-child(odd) {
  background: #fff;
}

.page-section {
  padding: 2em 1em;
  border-bottom: 1px dashed #888888;
}

.page-card-wide {
  background-color: #fff;
  padding: 2em;
  margin: 1em;
}

.page-card-wide h3 {
  margin: 0px;
}

.page-card-wide p .icon {
  font-size: 28px;
  vertical-align: middle;
  margin-right: 5px;
}

.page-card {
  float: left;
  width: 50%;
  padding: 1em;
}

.page-card .column {
  padding: 0px;
}

.page-card .card-inner {
  background-color: #fff;
  padding: 1em 2em;
}

.page-card .card-inner .card-section {
  padding: 1em 0px;
  border-bottom: 1px dotted #d9d9d9;
}

.page-card .card-inner .card-section.last {
  border-bottom: none;
}

.page-card .card-inner p .icon {
  font-size: 28px;
  vertical-align: middle;
  margin-right: 5px;
}

.pull-right {
  float: right;
}

/* Layout */
.wrap {
  margin: 0em auto;
  padding: 0em 2%;
  min-width: 32em;
  max-width: 120em;
}

.content {
  padding: 2em 0px;
  background-color: #e0e0e0;
}

@media screen and (max-width: 619px) {
  .page-card {
    width: 100%;
  }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */
.group:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?-tausy1");
  src: url("../fonts/icomoon.eot?#iefix-tausy1") format("embedded-opentype"), url("../fonts/icomoon.ttf?-tausy1") format("truetype"), url("../fonts/icomoon.woff?-tausy1") format("woff"), url("../fonts/icomoon.svg?-tausy1#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bike:before {
  content: "\e600";
}

ul.tabs {
  margin: 0em 1em;
  margin-top: 2em;
}

li.tab {
  display: inline-block;
  padding: 1em 2em;
  border-radius: 0px;
}

li.tab.active {
  background-color: #e0e0e0;
}

li.tab.active a {
  color: #555;
  font-weight: bold;
  border-bottom: 1px dotted transparent;
}

h1 {
  font-size: 3em;
  margin: 0em 0em 0.5em 0em;
}

h2 {
  font-size: 1.8em;
  font-weight: 300;
  margin: 1em 0em;
  line-height: 1.5em;
}

h3 {
  font-size: 2em;
  margin: 1em 0em;
  font-weight: 300;
}

p, a {
  font-size: 1.6em;
  line-height: 1.6em;
  margin: 0em;
}

p a, p span {
  font-size: 1em;
}

a {
  -webkit-transition: all 0.4s ease;
          transition: all 0.4s ease;
  text-decoration: none;
  border-bottom: 1px dotted transparent;
  color: #14b8b6;
}

a:visited {
  color: #14acb8;
}

a:hover {
  color: #19e6e4;
  border-bottom: 1px dotted #19e6e4;
}

span {
  font-size: 1.6em;
}

.text-inactive {
  color: #999999;
}

/* common */
.bold {
  font-weight: bold;
}

::-webkit-input-placeholder {
  color: #bbb;
}

:-moz-placeholder {
  color: #bbb;
}

placeholder {
  color: #bbb;
}

.input-group {
  padding: 1em;
  padding-left: 0em;
  display: inline-block;
}

.input-field {
  border: 1px solid #bbbbbb;
  padding: .5em;
  -webkit-transition: border 0.3s ease;
          transition: border 0.3s ease;
  max-width: 32em;
}

.input-field:hover {
  border: 1px solid #a2a2a2;
}

.input-field:focus {
  border: 1px solid #14b8b6;
}

.input-field, .button {
  font-size: 1.6em;
  border-radius: 0px;
}

.button {
  border: none;
  padding: 0.5em 1em;
  font-weight: 500;
  -webkit-transition: background 0.3s ease;
          transition: background 0.3s ease;
}

.standard-button {
  background-color: #14b8b6;
  color: #fff;
  border: 1px solid #14b8b6;
}

.standard-button:hover {
  background-color: #00e6e3;
}

textarea {
  width: 100%;
}

.header {
  background-color: #012e2c;
  color: #fff;
  padding: 1em;
}

.header .logo img {
  height: 64px;
  vertical-align: top;
}

.header .logo p {
  display: inline-block;
  font-weight: 300;
  font-size: 32px;
  line-height: 64px;
  margin-left: .5em;
}

.track-presentation {
  background-color: #34553b;
  background-image: url("../images/track-bg.png");
  padding: 2em 0px;
}

.track-presentation .track-info-short {
  display: none;
}

.track-info {
  background-color: rgba(0, 0, 0, 0.25);
  padding: 2em;
}

.track-info h1, .track-info h2, .track-info p {
  color: #fff;
}

.track-info-short {
  background-color: rgba(0, 0, 0, 0.25);
  padding: 1em 2em;
  position: absolute;
}

.track-info-short h1 {
  color: #fff;
  margin: 0px;
}

.track-info-mobile {
  display: none;
  padding: 0px 1em;
}

.column {
  width: 50%;
  padding: 0px 1em;
  float: left;
}

.column .column {
  padding: 0px;
}

.column-right {
  float: right;
}

.map-container {
  max-width: 500px;
  margin: 0px auto;
  position: relative;
  text-align: center;
}

.map-container img {
  width: 100%;
}

.map-container .direction-left, .map-container .direction-right {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 48px;
  height: 48px;
  opacity: .6;
}

.map-container .direction-left {
  background-image: url("../images/arrow-right-cw.png");
}

.map-container .direction-right {
  background-image: url("../images/arrow-left-ccw.png");
  display: none;
}

.map-container.ccw .direction-left {
  display: none;
}

.map-container.ccw .direction-right {
  display: block;
}

@media screen and (max-width: 619px) {
  .track-presentation .column-left {
    display: none;
  }
  .track-presentation .column {
    width: 100%;
  }
  .track-presentation .track-info-short {
    display: block;
  }
  .column {
    width: 100%;
  }
  .track-info-mobile {
    display: block;
  }
}

.participant {
  padding: 0.5em 1em;
  background-color: #fafafa;
  display: inline-block;
  margin-bottom: 1em;
}

.participant + .participant {
  margin-left: 1em;
}

.footer {
  color: #cccccc;
  background-color: #012e2c;
  padding: 4em 0em;
}

.footer p {
  font-size: 1.4em;
  font-weight: 300;
}

.footer a {
  opacity: .8;
}

.footer .logo img {
  height: 48px;
  vertical-align: top;
  margin-bottom: 1em;
}

.footer .logo p {
  display: inline-block;
  font-weight: 300;
  font-size: 28px;
  line-height: 48px;
  margin-left: .5em;
}

@media screen and (max-width: 619px) {
  .footer .logo {
    margin-top: 2em;
  }
}

/*
.input-field.ng-touched.ng-invalid {
	border: 1px solid #fd0;
	background-color: ffe;
}
*/
