﻿<div class="header">
    <div class="wrap">
        <div class="logo">
            <img alt="mtbuddies" src="~/Content/images/logo.svg" />
            <p>MTBuddies</p>
        </div>
    </div>
</div>
<div class="track-presentation">
    <div class="wrap group">
        <div class="column column-left">
            <div class="track-info">
                <h1>{{location.track.Name}}</h1>
                <h2>{{location.track.Description}}</h2>
                <p>Længde: {{location.track.Length}}km</p>
                <p>Sværhed: {{location.track.Difficulty}} / 10</p>
            </div>
        </div>
        <div class="column column-right">
            <div class="map-container {{location.track.Direction}}">
                <div class="track-info-short">
                    <h1>{{location.track.Name}}</h1>
                </div>
                <div class="direction-left"></div>
                <div class="direction-right"></div>
                <img ng-src="{{location.track.Map}}" />
            </div>
        </div>
    </div>
</div>
<div>
    <div class="wrap">
        <div class="track-info-mobile">
            <h2>{{location.track.Description}}</h2>
            <p>Længde: {{location.track.Length}}km</p>
            <p>Sværhed: {{location.track.Difficulty}} / 10</p>
        </div>
    </div>
</div>
<div class="content">
    <div class="wrap">
        <track-rides></track-rides>
    </div>
</div>